<html>
<head>
    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
	<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	 <link  rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" type="text/css"></link>
	 <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
	 <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
	 
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	
	 <script type="text/javascript">
		var dataSet = [
    [ "Tiger Nixon", "System Architect", "Edinburgh", "5421", "2011/04/25", "$320,800" ],
    [ "Garrett Winters", "Accountant", "Tokyo", "8422", "2011/07/25", "$170,750" ],
    [ "Ashton Cox", "Junior Technical Author", "San Francisco", "1562", "2009/01/12", "$86,000" ],
    [ "Cedric Kelly", "Senior Javascript Developer", "Edinburgh", "6224", "2012/03/29", "$433,060" ],
    [ "Airi Satou", "Accountant", "Tokyo", "5407", "2008/11/28", "$162,700" ],
    [ "Brielle Williamson", "Integration Specialist", "New York", "4804", "2012/12/02", "$372,000" ],
    [ "Herrod Chandler", "Sales Assistant", "San Francisco", "9608", "2012/08/06", "$137,500" ],
    [ "Rhona Davidson", "Integration Specialist", "Tokyo", "6200", "2010/10/14", "$327,900" ],
    [ "Colleen Hurst", "Javascript Developer", "San Francisco", "2360", "2009/09/15", "$205,500" ],
    [ "Sonya Frost", "Software Engineer", "Edinburgh", "1667", "2008/12/13", "$103,600" ],
    [ "Jena Gaines", "Office Manager", "London", "3814", "2008/12/19", "$90,560" ],
    [ "Quinn Flynn", "Support Lead", "Edinburgh", "9497", "2013/03/03", "$342,000" ],
    [ "Charde Marshall", "Regional Director", "San Francisco", "6741", "2008/10/16", "$470,600" ],
    [ "Haley Kennedy", "Senior Marketing Designer", "London", "3597", "2012/12/18", "$313,500" ],
    [ "Tatyana Fitzpatrick", "Regional Director", "London", "1965", "2010/03/17", "$385,750" ],
    [ "Michael Silva", "Marketing Designer", "London", "1581", "2012/11/27", "$198,500" ],
    [ "Paul Byrd", "Chief Financial Officer (CFO)", "New York", "3059", "2010/06/09", "$725,000" ],
    [ "Gloria Little", "Systems Administrator", "New York", "1721", "2009/04/10", "$237,500" ],
    [ "Bradley Greer", "Software Engineer", "London", "2558", "2012/10/13", "$132,000" ],
    [ "Dai Rios", "Personnel Lead", "Edinburgh", "2290", "2012/09/26", "$217,500" ],
    [ "Jenette Caldwell", "Development Lead", "New York", "1937", "2011/09/03", "$345,000" ],
    [ "Yuri Berry", "Chief Marketing Officer (CMO)", "New York", "6154", "2009/06/25", "$675,000" ],
    [ "Caesar Vance", "Pre-Sales Support", "New York", "8330", "2011/12/12", "$106,450" ],
    [ "Doris Wilder", "Sales Assistant", "Sidney", "3023", "2010/09/20", "$85,600" ],
    [ "Angelica Ramos", "Chief Executive Officer (CEO)", "London", "5797", "2009/10/09", "$1,200,000" ],
    [ "Gavin Joyce", "Developer", "Edinburgh", "8822", "2010/12/22", "$92,575" ],
    [ "Jennifer Chang", "Regional Director", "Singapore", "9239", "2010/11/14", "$357,650" ],
    [ "Brenden Wagner", "Software Engineer", "San Francisco", "1314", "2011/06/07", "$206,850" ],
    [ "Fiona Green", "Chief Operating Officer (COO)", "San Francisco", "2947", "2010/03/11", "$850,000" ],
    [ "Shou Itou", "Regional Marketing", "Tokyo", "8899", "2011/08/14", "$163,000" ],
    [ "Michelle House", "Integration Specialist", "Sidney", "2769", "2011/06/02", "$95,400" ],
    [ "Suki Burks", "Developer", "London", "6832", "2009/10/22", "$114,500" ],
    [ "Prescott Bartlett", "Technical Author", "London", "3606", "2011/05/07", "$145,000" ],
    [ "Gavin Cortez", "Team Leader", "San Francisco", "2860", "2008/10/26", "$235,500" ],
    [ "Martena Mccray", "Post-Sales support", "Edinburgh", "8240", "2011/03/09", "$324,050" ],
    [ "Unity Butler", "Marketing Designer", "San Francisco", "5384", "2009/12/09", "$85,675" ]
];
		Vue.directive('datatable', {
		  inserted: function (el) {
			$(el).DataTable({
				data: dataSet,
				columns: [
					{ title: "Name" },
					{ title: "Position" },
					{ title: "Office" },
					{ title: "Extn." },
					{ title: "Start date" },
					{ title: "Salary" }
				]
		
			});
		  }
		});
	
		Vue.component('i18n_custom',{
		
			template : '<select v-model="lang"  v-on:change="changeLanguage">'
			+'<option value="en">English</option>'
			+'<option value="ja">Japan</option>'
			+'</select>',
			
			methods : {
				changeLanguage : function(){
					window.localStorage.setItem("lang", this.lang);
					window.location.reload();
				}
			},
			data : function(){
				return {lang : window.localStorage.getItem('lang')};
			}
		});
		
		Vue.component('tablecomponent',{
			template : '<table v-datatable id="example" class="display" cellspacing="0" width="100%"></table>'
		});
		
		Vue.component('artistscomponent',{
			template :  '<div><button type="button" v-on:click="refresh">Refresh</button>'
						+'<input type="text" v-model="name"/>'
						+'<button type="button" v-on:click="add">Add</button>'
						+'<ul>'
						+'	<li v-for="(artist, index) in artists">'
						+'		{{artist}} <button type="button" v-on:click="remove(index)">Remove</button>'
						+'	</li>'
						+'</ul></div>',
			methods : {
				send : function (){
					console.log(this.model);
				},
				refresh : function(){
					this.artists = ["PICASSO","TARKAN","MOZART"]
				},
				add : function(){
					this.artists.push(this.name);
				},
				remove : function(id){
					this.artists.splice(id,1);
				}
			},
			data :	function () {
				return {artists :["TARKAN","PICASSO","MOZART"], name : "" }
			}
		});
		
		Vue.component('container',{
			template: '<div><artistscomponent></artistscomponent></div>'
		});
		
		var User = {
		  template: '<div>{{ $t("message.hello") }}<tablecomponent></tablecomponent></div>'
		}
		
		var Home = {
			template : '<container></container>'
		}
		var vrouter = new VueRouter({
		  routes: [
			{name: 'user', path: '/user', component: User },
			{name: 'home', path: '/', component: Home }
		  ]
		})
		
		var messages = {
		  en: {
			message: {
			  hello: 'hello world'
			}
		  },
		  ja: {
			message: {
			  hello: 'こんにちは、世界'
			}
		  },
		  custom : {
			message : {
				hello : 'asdasd'
			}
		  }
		  
		}
		if(!window.localStorage.getItem("lang"))
		window.localStorage.setItem("lang", "en");
		
		var i18n = new VueI18n({
		  locale: window.localStorage.getItem("lang"), // set locale
		  messages, // set locale messages
		})
		
		
	 </script>
</head>
<body>
    
	<div id = "demo">
			<i18n_custom></i18n_custom>
			<router-link :to="{ name: 'home'}">home</router-link>
			<router-link :to="{ name: 'user'}">user</router-link>
			<router-view></router-view>
	</div>
	
	
	<script>
	
        var vue = new Vue({
		  el: '#demo',
		  data: {
			model: {
				msg:"",checked:false,picked:"",selected:"",multiSelect:[]
			},
	
		  },
		  methods :{
			
		  }
		  ,
			mounted: function () {
			  this.$nextTick(function () {
				 
			  })
			}
		  ,
		  methods : {},
		  router : vrouter,
		  i18n : i18n
		  
		});	
		
		
		
	
	</script>
  
</body>
</html>